<h2 class="cols-4">{{ forStopName }} {{ forDirection }}</h2>
<ul class="cols-4 arrivals-list">
  @if (error$ | async; as errors) {
    @for (anError of errors; track anError.msg) {
      <li>{{ anError.msg }}</li>
    }
  }
  @if (vehicles$ | async; as vehicles) {
    @for (vehicle of vehicles; track vehicle.vid) {
      <li class="an-arrival" [class.loading]="refreshing">
        <a [routerLink]="['/follow', vehicle.vid]" [queryParams]="{from: forStopId}" class="follow-link">
          <ul class="grid-4 arrivals-area">
            <li class="destination">
              @if (vehicle.dly) {
                <span class="delayed">DELAYED</span>
              }
              To {{ vehicle.des }}
            </li>
            <li class="route">
              <span class="route-number">RT {{ vehicle.rt }}</span>
            </li>
            <li class="minutes-left">
              {{ vehicle.prdctdn }}{{ vehicle.prdctdn | timeuntil:'minutes' }}
            </li>
            <li class="time-left">
              {{ vehicle.prdctdn | timeuntil:'time' }}
            </li>
          </ul>
        </a>
      </li>
    }
  }
</ul>
@if (!isFavorite) {
  <button class="fab button-favorite" [class.favorited]="favorited" (click)="addToFavorite()">
    <img src="assets/icons/ic_favorite_black_24px.svg" class="icon">
  </button>
}
@if (canRefresh) {
  <button class="fab button-refresh" (click)="getArrivals()">
    <img src="assets/icons/ic_refresh_black_24px.svg" class="icon" [class.refreshing]="refreshing">
  </button>
}
