@switch (prefs.columnStyle()) {
  @case ('typographic') {
    <app-typographic [groups]="groups()" [loading]="loading()"
                     [stationId]="stationId()" [refreshing]="refreshing()" />
  }
  @case ('solari') {
    <app-solari [groups]="groups()" [loading]="loading()"
                [stationId]="stationId()" [refreshing]="refreshing()" />
  }
  @case ('sentence') {
    <app-sentence [groups]="groups()" [loading]="loading()"
                  [stationId]="stationId()" [refreshing]="refreshing()" />
  }
  @case ('headway') {
    <app-headway [groups]="groups()" [loading]="loading()"
                 [stationId]="stationId()" [refreshing]="refreshing()" />
  }
  @case ('pocket-lcd') {
    <app-pocket-lcd [groups]="groups()" [loading]="loading()"
                    [stationId]="stationId()" [refreshing]="refreshing()" />
  }
  @default {
    <app-platform-led [groups]="groups()" [loading]="loading()"
                      [stationId]="stationId()" [refreshing]="refreshing()" />
  }
}
