<h2 class="cols-4">Route {{ forRoute }} {{ forDirection }}</h2>
<section class="cols-4 search-form">
  <input class="search-input" id="search-stops" #criteria (input)="search(criteria.value)" autocomplete="off" required />
  <label class="search-label" for="search-stops">Search Stops</label>
</section>

<ul class="cols-4">
  @if (error$ | async; as errors) {
    @for (anError of errors; track anError.msg) {
      <li>{{ anError.msg }}</li>
    }
  }
  @if (stops$ | async; as stops) {
    @for (stop of stops; track stop.stpid) {
      <li class="bus-stop">
        <a routerLink="/arrivals/{{ forRoute }}/{{ forDirection }}/{{ stop.stpid }}/{{ replaceSlash(stop.stpnm) }}">
          {{ stop.stpnm }}
        </a>
      </li>
    }
  }
</ul>
