<h1 class="cols-3">Favorites</h1>
<span class="cols-reverse-1 header-actions">
  <button class="edit-button" [class.edit-button-active]="editing()" (click)="toggleEdit()">
    <svg class="edit-icon" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      @if (editing()) {
        <polyline points="20 6 9 17 4 12"/>
      } @else {
        <path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"/>
        <path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"/>
      }
    </svg>
    <span>{{ editing() ? 'Done' : 'Edit' }}</span>
  </button>
</span>
@if (editing()) {
  <ul class="cols-4 favorite-list favorite-list-edit">
    @for (favorite of editableFavorites(); track $index) {
      <li class="favorite-stop edit-row">
        <button class="move-btn" [disabled]="$first" (click)="moveFavorite($index, -1)">&#9650;</button>
        <button class="move-btn" [disabled]="$last" (click)="moveFavorite($index, 1)">&#9660;</button>
        <span class="edit-stop-name">{{ favorite.stopName }}</span>
        <button class="delete-btn" (click)="deleteFavorite($index)">&times;</button>
      </li>
    }
  </ul>
} @else {
  <ul class="cols-4 favorite-list">
    @if (favorites(); as favorites) {
      @for (favorite of favorites; track favorite.stopId + '_' + (favorite.type || 'bus')) {
        <li class="favorite-stop">
          @if (favorite.type === 'train') {
            <a routerLink="/train-arrivals/{{ favorite.route }}/{{ favorite.stopId }}/{{ favorite.stopName }}"
              class="favorite-stop-touch">
              <span class="favorite-stop-route">
                <span class="train-line-dot" [style.backgroundColor]="getTrainLineColor(favorite.route)"></span>
              </span>
              <span class="favorite-stop-name">{{ favorite.stopName }}</span>
              <span class="favorite-stop-direction"></span>
            </a>
          } @else {
            <a routerLink="/arrivals/{{ favorite.route }}/{{ favorite.direction }}/{{ favorite.stopId }}/{{ favorite.stopName }}"
              class="favorite-stop-touch">
              <span class="favorite-stop-route">{{ favorite.route }}</span>
              <span class="favorite-stop-name">{{ favorite.stopName }}</span>
              <span class="favorite-stop-direction">{{ favorite.direction | slice:0:1 }}</span>
            </a>
          }
        </li>
      }
    }
  </ul>
}
