.favorite-list {
  display: grid;
  grid-auto-rows: 72px
}

.favorite-stop,
.favorite-stop-touch {
  height: 100%;
  width: 100%;
  display: block;
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 900;
  font-size: 22px;
}

.favorite-stop-touch {
  display: grid;
  /* grid-template-areas: "route name direction"; */
  grid-template-columns: 50px auto 20px;
}

.favorite-stop-route {
  /* grid-area: route; */
  /* width: 50px; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.favorite-stop-name {
  /* grid-area: name; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.favorite-stop-direction {
  /* grid-area: direction; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.favorite-settings {
  background-color: var(--gray4);
  border-radius: 8px;
  padding: 16px;
}

.favorite-settings ul li {
  position: relative;
}

.favorite-settings button {
  background-color: var(--gray6);
  border-radius: 8px;
}
